.container {
  .product_detail-container {
    display: flex;
    justify-content: space-between;
    .product_detail-img {
      flex-basis: 45%;
      display: flex;
      justify-content: space-between;
      .product_detail-img-list {
        width: 130px;
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
      .product_detail-img-show {
        margin-left: 15px;
        img {
          object-fit: contain;
          width: 400px;
          height: 500px;
        }
      }
    }
    .product_detail-content {
      flex-basis: 47%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      .product_detail-name {
        font-size: 28px;
      }
      .product_detail-price {
        p {
          color: #00a6a4;
          font-size: 22px;
        }
      }
      .product_detail-selection {
        display: flex;
        align-items: center;
        h4 {
          flex-basis: 20%;
        }
        .product_detail-quantity {
          display: flex;
          justify-content: space-between;
          flex-basis: 20%;
          align-items: center;
          border: 1px solid rgba(0, 0, 0, 0.25);
          padding: 8px 12px;
          gap: 18px;
        }
        > p {
          flex-basis: 30%;
          text-align: right;
        }
        .product_detail-sizes {
          display: flex;
          gap: 15px;
          .product_detail-size {
            padding: 8px 12px;
            border-radius: 2px;
            border: 1px solid rgba(0, 0, 0, 0.09);
            cursor: pointer;
            p {
            }
            &.clicked {
              border: 1.3px solid #1eb853;
            }
          }
        }
      }
      .product_detail-action {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .product_detail-addToCart {
          cursor: pointer;
          background-color: #1eb854c1;
          color: white;
          border: 1px solid #1eb853;
          border-radius: 4px;
          padding: 12px 16px;
          font-size: 18px;
          height: 100%;
          &:hover {
            background-color: #1eb853;
          }
        }
        .product_detail-buy {
          cursor: pointer;
          background-color: black;
          color: white;
          border: 1px solid black;
          border-radius: 4px;
          padding: 12px 16px;
          font-size: 18px;
          height: 100%;
        }
      }
      .product_detail-guarantee {
        p {
          display: flex;
          align-items: center;
          svg {
            margin-right: 20px;
          }
          span {
            font-weight: 600;
            text-decoration: underline;
          }
          // justify-content: center;
        }
      }
      .product_detail-description {
        padding-bottom: 10px;
        border-bottom: 1px solid #00a6a4;
      }
      .product_detail-careGuide {
        padding-bottom: 10px;

        border-bottom: 1px solid #00a6a4;
      }
      .showContent {
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
          display: flex;
          align-items: center;
          justify-content: center;
          svg {
            margin-right: 20px;
          }
        }
        > svg {
        }
      }
    }
  }
}
