.container {
  .addProduct_container {
    padding: 40px 60px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    h4 {
      font-size: 22px;
      text-align: center;
      margin-bottom: 25px;
    }
    .ant-form-item-control {
      flex: 1;
    }
    .ant-form-item-row {
      display: flex;
      flex-direction: column;
      .ant-form-item-label {
        text-align: start;
      }
      .ant-form-item-required {
        &::before {
          right: 1px;
          top: 3px;
          font-size: 11px !important;
          position: absolute;
        }
        &::after {
          right: -8px;
        }
      }
      .ant-input-number {
        width: 100%;
      }
    }
    .product_content {
      .product_type {
        .ant-checkbox-group {
          width: 100%;
        }
      }
      .ql-snow {
        height: 80px;
      }
      .ant-upload-select {
        width: 100%;
        .ant-btn {
          width: 100%;
          .img_allowText {
            margin-left: 15px;
          }
        }
      }
    }
  }
}
