.container {
  .import_container {
    padding: 40px 60px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    .import_title {
      h2 {
        text-align: center;
        margin-bottom: 15px;
      }
      p {
        text-align: right;
      }
      span {
        font-style: italic;
      }
    }
    .ant-space {
      flex-direction: column;
      border-bottom: 1px solid #1eb853;
      padding: 15px 0px;
      .ant-space-item {
        display: flex;
        width: 100%;
        flex-direction: row;
        .top {
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: space-between;
          .name {
            flex-basis: 70%;
          }
          .size {
            flex-basis: 25%;
          }
        }
        .importContent_container {
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: space-between;
          flex-direction: row;
          .price,
          .quantity {
            flex-basis: 18%;
          }
          .size {
            flex-basis: 25%;
          }
          .height,
          .width,
          .length {
            flex-basis: 15%;
          }
        }
      }
      .removeBtn {
        cursor: pointer;
        transition: 0.3s;
        svg {
          margin-right: 10px;
        }
        &:hover {
          color: #1eb853;
        }
      }
    }
  }

  .ant-form-item-explain-error {
    font-size: 13px;
  }
  .ant-form-item-required {
    &::before {
      right: 1px;
      top: 3px;
      font-size: 11px !important;
      position: absolute;
    }
    &::after {
      right: -8px;
    }
  }
  .ant-form-item-row {
    display: flex;
    flex-direction: column;
    .ant-form-item-label {
      text-align: left;
      label {
        font-weight: 700;
      }
    }
  }
  .ant-form-item-control {
    flex: 1;
  }
  .ant-input-number {
    width: 100%;
  }
}
